/* Datos y archivos CSS de la pagina  productos */

/* General */

div{
    overflow:hidden
}

.carousel {
    display:flex;
    align-items: center;
}

/* Identificador de carusel de imagenes */

.carousel img {
    width: 400px;
    height: 400px;
}

/* Titulo + informacion */

#informacion{
    text-align: justify;
}

#informacion h1 {
    color: red;
}


/* Productos */

.productos{
    background-color: red;
    margin: 5px;
}
